@model lab2.Models.Employee
@{
    Layout = ViewBag.Layout;
}

<div class="container">
    <h1>Details</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee</h5>

            <div class="row">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-4">Name:</dt>
                        <dd class="col-sm-8">@Model.Name</dd>

                        <dt class="col-sm-4">Surname:</dt>
                        <dd class="col-sm-8">@Model.Surname</dd>

                        <dt class="col-sm-4">Birth Date:</dt>
                        <dd class="col-sm-8">@Model.BirthDate.ToShortDateString()</dd>

                        <dt class="col-sm-4">Position:</dt>
                        <dd class="col-sm-8">@Model.Position</dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <img src="@Model.Image" class="img-fluid" style="max-width: 150px;" alt="Employee Image">
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Summary", Model)
    </div>

    <a asp-action="Index" class="btn btn-primary mt-3">Back to Employee List</a>
</div>
